In [1]:
from sentence_transformers import SentenceTransformer, util
import numpy as np
import pandas as pd

In [2]:
from datasets import load_dataset

In [3]:
import re

In [4]:
model = SentenceTransformer('all-mpnet-base-v2')

# Squad dataset

In [5]:
sq = load_dataset('squad')

Reusing dataset squad (C:\Users\Intag\.cache\huggingface\datasets\squad\plain_text\1.0.0\d6ec3ceb99ca480ce37cdd35555d6cb2511d223b9150cce08a837ef62ffea453)

  0%|          | 0/2 [00:00<?, ?it/s]

In [6]:
sq['train'][4]['question']

'What sits on top of the Main Building at Notre Dame?'

In [7]:
sq['train'][4]['answers']['text'][0]

'a golden statue of the Virgin Mary'

In [8]:
df = pd.read_csv('./eval_data.csv')

In [9]:
df.columns

Index(['multilabel_id', 'query', 'filters', 'gold_answers', 'answer',
       'context', 'exact_match', 'f1', 'rank', 'document_id',
       'gold_document_ids', 'offsets_in_document', 'gold_offsets_in_documents',
       'type', 'node', 'eval_mode', 'index'],
      dtype='object')

In [10]:
df = df.drop(columns = ['f1', 'rank', 'document_id',
       'gold_document_ids', 'offsets_in_document', 'gold_offsets_in_documents',
       'type', 'node', 'eval_mode', 'index'])

# Preprocessing

In [11]:
import ast

In [12]:
df = df.fillna('not_given')

In [13]:
correct = []
for i in range(len(df['gold_answers'])):
    try:
        temp = ast.literal_eval(df['gold_answers'][i])
    except:
        pass
    df['answer'][i] = re.sub(r'[^\w\s]', '', df['answer'][i])
    df['answer'][i] = df['answer'][i].lower()
    for j in range(len(temp)):
        temp[j] = re.sub(r'[^\w\s]', '', temp[j])
        temp[j] = temp[j].lower()
    correct.append(temp)

<ipython-input-13-e8d162cfe9c9>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['answer'][i] = re.sub(r'[^\w\s]', '', df['answer'][i])
<ipython-input-13-e8d162cfe9c9>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['answer'][i] = df['answer'][i].lower()

In [14]:
df['gold_answers'] = correct

In [15]:
df

,multilabel_id,query,filters,gold_answers,answer,context,exact_match
0,5616814845033682107,who is written in the book of life,b'null',"[all people considered righteous before god, e...",not_given,not_given,0.0
1,5616814845033682107,who is written in the book of life,b'null',"[all people considered righteous before god, e...",those whose names are written in the book of l...,"ohn of Patmos. As described, only those whose ...",0.0
2,5616814845033682107,who is written in the book of life,b'null',"[all people considered righteous before god, e...",only the names of the righteous,. The Psalmist likewise speaks of the Book of ...,0.0
3,5616814845033682107,who is written in the book of life,b'null',"[all people considered righteous before god, e...",those who are found written in the book and wh...,those who are found written in the book and wh...,0.0
4,-4885963241536934817,who was the girl in the video brenda got a baby,b'null',[ethel edy proctor],her cousin,ng a story in the newspaper of a 12-year-old g...,0.0
...,...,...,...,...,...,...,...
95,-2582649975336248842,the fertile crescent is located between what t...,b'null',[tigris and euphrates rivers],not_given,not_given,0.0
96,2968376238709049184,how did the fertile crescent get its nickname,b'null',[popularized by university of chicago archaeol...,not_given,not_given,0.0
97,2968376238709049184,how did the fertile crescent get its nickname,b'null',[popularized by university of chicago archaeol...,the cradle of civilization,atelevel societies. This has earned the region...,0.0
98,2968376238709049184,how did the fertile crescent get its nickname,b'null',[popularized by university of chicago archaeol...,the cradle of civilization,e Fertile Crescent in red The Fertile Crescent...,0.0
99,2968376238709049184,how did the fertile crescent get its nickname,b'null',[popularized by university of chicago archaeol...,the fertile crescent has an impressive record ...,Cuneiform law History of the Middle East The F...,0.0

In [16]:
def preprocessor(answer):
    try:
        answer = ast.literal_eval(answer)
    except:
        pass
    if (isinstance(answer, list) == True):
        for i in range(len(answer)):
            answer[i] = re.sub(r'[^\w\s]', '',answer[i])
            answer[i] = answer[i].lower()
        return answer
    else:
        answer = re.sub(r'[^\w\s]', '', answer)
        answer = answer.lower()
        return answer

# Evaluation

In [17]:
def evaluation(true_ans, user_ans):
    if (isinstance(true_ans, list) == True):
        marks = []
        for i in range(len(true_ans)):
            true_embed = model.encode(true_ans[i], convert_to_tensor=True)
            user_embed = model.encode(user_ans, convert_to_tensor=True) 
            cosine_scores = util.pytorch_cos_sim(true_embed, user_embed)
            score = round(cosine_scores.item()*10)
            marks.append(score)
        if (max(marks) > 9):
            return 10
        else:
            return max(marks)
    else:
        true_embed = model.encode(true_ans, convert_to_tensor=True)
        user_embed = model.encode(user_ans, convert_to_tensor=True)
        cosine_scores = util.pytorch_cos_sim(true_embed, user_embed)
        return round(cosine_scores.item()*10)

In [18]:
for i in range(len(df)):
    marks = evaluation(df['gold_answers'][i], df['answer'][i])
    print('Correct answer:',df['gold_answers'][i])
    print('User answer:',df['answer'][i])
    print('Marks:',marks)

Correct answer: ['all people considered righteous before god', 'every person who is destined for heaven or the world to come']
User answer: not_given
Marks: 1
Correct answer: ['all people considered righteous before god', 'every person who is destined for heaven or the world to come']
User answer: those whose names are written in the book of life from the foundation of the world
Marks: 6
Correct answer: ['all people considered righteous before god', 'every person who is destined for heaven or the world to come']
User answer: only the names of the righteous
Marks: 5
Correct answer: ['all people considered righteous before god', 'every person who is destined for heaven or the world to come']
User answer: those who are found written in the book and who shall escape the troubles preparatory to the coming of the messianic kingdom are they who together with the risen martyrs
Marks: 5
Correct answer: ['ethel edy proctor']
User answer: her cousin
Marks: 3
Correct answer: ['ethel edy proctor']
User answer: not_given
Marks: 1
Correct answer: ['ethel edy proctor']
User answer: her cousin
Marks: 3
Correct answer: ['ethel edy proctor']
User answer: dave hollister
Marks: 2
Correct answer: ['1971']
User answer: not_given
Marks: 1
Correct answer: ['1971']
User answer: 1971
Marks: 10
Correct answer: ['1971']
User answer: 1971
Marks: 10
Correct answer: ['1971']
User answer: 2016 learn how and when to remove this template message while this movie is based on a true story it has strayed from the actual events that had occurred on many occasions to add new elements of teamwork commitment and friendship to the film boone may not be the coach that washington portrays in the movie in interviews many former titans football players said they believed his coaching strategies had no correlation to their success and were indeed too harsh causing some players to quit the titans had a solid football team for many years and most of their games were large victories by the end of the 1971
Marks: 2
Correct answer: ['gettysburg college']
User answer: not_given
Marks: 1
Correct answer: ['gettysburg college']
User answer: gettysburg college
Marks: 10
Correct answer: ['gettysburg college']
User answer: chicago suntimes
Marks: 1
Correct answer: ['gettysburg college']
User answer: deseret news
Marks: 1
Correct answer: ['mirror image']
User answer: not_given
Marks: 2
Correct answer: ['mirror image']
User answer: mirror image
Marks: 10
Correct answer: ['mirror image']
User answer: mirror image
Marks: 10
Correct answer: ['mirror image']
User answer: the series finale episode which featured the original theme music
Marks: 1
Correct answer: ['off the rez']
User answer: not_given
Marks: 1
Correct answer: ['off the rez']
User answer: the locker room
Marks: 3
Correct answer: ['off the rez']
User answer: running away
Marks: 3
Correct answer: ['off the rez']
User answer: reardan
Marks: 3
Correct answer: ['minor key symphonies', 'g minor']
User answer: middle work
Marks: 2
Correct answer: ['minor key symphonies', 'g minor']
User answer: two versions
Marks: 1
Correct answer: ['minor key symphonies', 'g minor']
User answer: g minor
Marks: 10
Correct answer: ['minor key symphonies', 'g minor']
User answer: not_given
Marks: 3
Correct answer: ['a construction budget of us23 billion']
User answer: not_given
Marks: 1
Correct answer: ['a construction budget of us23 billion']
User answer: disneyland resort paris
Marks: 2
Correct answer: ['a construction budget of us23 billion']
User answer: disneyland paris
Marks: 2
Correct answer: ['a construction budget of us23 billion']
User answer: four
Marks: 1
Correct answer: ['1992']
User answer: october 27 2009
Marks: 4
Correct answer: ['1992']
User answer: 1992
Marks: 10
Correct answer: ['1992']
User answer: july 18 1992
Marks: 5
Correct answer: ['1992']
User answer: not_given
Marks: 1
Correct answer: ['san cristóbal pinar del río province now in artemisa province in western cuba']
User answer: palm trees
Marks: 3
Correct answer: ['san cristóbal pinar del río province now in artemisa province in western cuba']
User answer: not_given
Marks: 1
Correct answer: ['san cristóbal pinar del río province now in artemisa province in western cuba']
User answer: caribbean region
Marks: 5
Correct answer: ['san cristóbal pinar del río province now in artemisa province in western cuba']
User answer: cuba
Marks: 6
Correct answer: ['vienna except from 1583 to 1611 when it was moved to prague']
User answer: vienna
Marks: 6
Correct answer: ['vienna except from 1583 to 1611 when it was moved to prague']
User answer: vienna
Marks: 6
Correct answer: ['vienna except from 1583 to 1611 when it was moved to prague']
User answer: not_given
Marks: 0
Correct answer: ['vienna except from 1583 to 1611 when it was moved to prague']
User answer: vienna austrias capital became a state january 1 1922 after being residence and capital of the austrian empire reichshaupt und residenzstadt wien
Marks: 6
Correct answer: ['ray charles']
User answer: ray charles
Marks: 10
Correct answer: ['ray charles']
User answer: ray charles
Marks: 10
Correct answer: ['ray charles']
User answer: eddie cochran
Marks: 4
Correct answer: ['ray charles']
User answer: guy sebastian
Marks: 4
Correct answer: ['since at least 1997 and in the middle of the eighth inning at every game since 2002', '1997', 'at least 1997']
User answer: not_given
Marks: 1
Correct answer: ['since at least 1997 and in the middle of the eighth inning at every game since 2002', '1997', 'at least 1997']
User answer: 1997
Marks: 10
Correct answer: ['since at least 1997 and in the middle of the eighth inning at every game since 2002', '1997', 'at least 1997']
User answer: april 25 2013
Marks: 6
Correct answer: ['since at least 1997 and in the middle of the eighth inning at every game since 2002', '1997', 'at least 1997']
User answer: 2018 australian open womens final
Marks: 2
Correct answer: ['bernard hill']
User answer: not_given
Marks: 1
Correct answer: ['bernard hill']
User answer: phil parsons
Marks: 4
Correct answer: ['bernard hill']
User answer: hill
Marks: 7
Correct answer: ['bernard hill']
User answer: luther plunkitt
Marks: 4
Correct answer: ['lasted from 28 july 1914 to 11 november 1918', '28 july 1914 to 11 november 1918']
User answer: 28 july 1914 to 11 november 1918
Marks: 10
Correct answer: ['lasted from 28 july 1914 to 11 november 1918', '28 july 1914 to 11 november 1918']
User answer: not_given
Marks: 1
Correct answer: ['lasted from 28 july 1914 to 11 november 1918', '28 july 1914 to 11 november 1918']
User answer: 1 july 2013
Marks: 4
Correct answer: ['lasted from 28 july 1914 to 11 november 1918', '28 july 1914 to 11 november 1918']
User answer: germany paid off the final amount of reparations imposed on it by the allies
Marks: 4
Correct answer: ['16']
User answer: not_given
Marks: 2
Correct answer: ['16']
User answer: 16
Marks: 10
Correct answer: ['16']
User answer: 16
Marks: 10
Correct answer: ['16']
User answer: two
Marks: 3
Correct answer: ['jesus christ']
User answer: not_given
Marks: 2
Correct answer: ['jesus christ']
User answer: reverend robert wilkins
Marks: 1
Correct answer: ['jesus christ']
User answer: pompeo batoni
Marks: 1
Correct answer: ['jesus christ']
User answer: henri nouwen
Marks: 1
Correct answer: ['alastair cook']
User answer: sunil gavaskar
Marks: 5
Correct answer: ['alastair cook']
User answer: not_given
Marks: 2
Correct answer: ['alastair cook']
User answer: 1987gavaskar
Marks: 2
Correct answer: ['alastair cook']
User answer: sunil gavaskar
Marks: 5
Correct answer: ['lament on various worldwide problems']
User answer: where is the love
Marks: 1
Correct answer: ['lament on various worldwide problems']
User answer: where is the love
Marks: 1
Correct answer: ['lament on various worldwide problems']
User answer: not_given
Marks: 1
Correct answer: ['lament on various worldwide problems']
User answer: where is the love
Marks: 1
Correct answer: ['ceramic art', 'ceramic']
User answer: not_given
Marks: 1
Correct answer: ['ceramic art', 'ceramic']
User answer: ceramic art
Marks: 10
Correct answer: ['ceramic art', 'ceramic']
User answer: native american pottery
Marks: 7
Correct answer: ['ceramic art', 'ceramic']
User answer: earthenware
Marks: 5

Correct answer: ['the 90s', 'around 2011']
User answer: not_given
Marks: 1
Correct answer: ['the 90s', 'around 2011']
User answer: 2011
Marks: 7
Correct answer: ['the 90s', 'around 2011']
User answer: 20150119 3j5210 152 finn puts a spell on the compound trapping wolves and vampires klaus takes cami to the safe house then confronts kol about rebekahs whereabouts at the end of the episode it is revealed that the ghost who talked to rebekah is freya 33 11 brotherhood of the damned sylvain white kyle arrington  diane ademujohn january 26 2015
Marks: 1
Correct answer: ['the 90s', 'around 2011']
User answer: 32 10 gonna set your flag on fire rob hardy ashley lyle  bart nickerson january 19 2015
Marks: 3
Correct answer: ['an apprentice named jeanpaul valley aka azrael', 'jeanpaul valley aka azrael']
User answer: not_given
Marks: 2
Correct answer: ['an apprentice named jeanpaul valley aka azrael', 'jeanpaul valley aka azrael']
User answer: zoom
Marks: 2
Correct answer: ['an apprentice named jeanpaul valley aka azrael', 'jeanpaul valley aka azrael']
User answer: bane
Marks: 2
Correct answer: ['an apprentice named jeanpaul valley aka azrael', 'jeanpaul valley aka azrael']
User answer: bane
Marks: 2
Correct answer: ['danishnorwegian patronymic surname meaning son of anders']
User answer: not_given
Marks: 1
Correct answer: ['danishnorwegian patronymic surname meaning son of anders']
User answer: denmark
Marks: 4
Correct answer: ['danishnorwegian patronymic surname meaning son of anders']
User answer: apartment
Marks: 1
Correct answer: ['danishnorwegian patronymic surname meaning son of anders']
User answer: greek
Marks: 1
Correct answer: ['tigris and euphrates rivers']
User answer: tigris and euphrates
Marks: 9
Correct answer: ['tigris and euphrates rivers']
User answer: tigris and euphrates rivers
Marks: 10
Correct answer: ['tigris and euphrates rivers']
User answer: jordan river
Marks: 5
Correct answer: ['tigris and euphrates rivers']
User answer: not_given
Marks: 0
Correct answer: ['popularized by university of chicago archaeologist james henry breasted beginning with his high school textbooks outlines of european history in 1914 and ancient times a history of the early world in 1916']
User answer: not_given
Marks: 1
Correct answer: ['popularized by university of chicago archaeologist james henry breasted beginning with his high school textbooks outlines of european history in 1914 and ancient times a history of the early world in 1916']
User answer: the cradle of civilization
Marks: 4
Correct answer: ['popularized by university of chicago archaeologist james henry breasted beginning with his high school textbooks outlines of european history in 1914 and ancient times a history of the early world in 1916']
User answer: the cradle of civilization
Marks: 4
Correct answer: ['popularized by university of chicago archaeologist james henry breasted beginning with his high school textbooks outlines of european history in 1914 and ancient times a history of the early world in 1916']
User answer: the fertile crescent has an impressive record of past human activity
Marks: 4

# Using squad

In [29]:
print('Question:',preprocessor(sq['train'][4]['question']), '?')
print('Correct answer:',preprocessor(sq['train'][4]['answers']['text'][0]),'.')
print('Student answer:','statue of Virgin Mary')
print('Marks:',evaluation(sq['train'][4]['answers']['text'][0], 'statue of Virgin Mary'))

Question: what sits on top of the main building at notre dame ?
Correct answer: a golden statue of the virgin mary .
Student answer: statue of Virgin Mary
Marks: 9